<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  
  <div class="action-container">

    <h1>
      {{title}}
    </h1>

    <div class="button-container">
      <button class="btn-customers" routerLink="customers"> Clientes </button>
      <button class="btn-orders" routerLink="orders"> Produtos </button>
    </div>


    <router-outlet></router-outlet>

  </div>


</body>

</html>