.action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.action-container h1 {
    margin: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    button {
        padding: 20px;
        color: aliceblue;
        width: 150px;
        border: none;
        cursor: pointer;

        &.btn-customers {
            background-color: green;
        }

        &.btn-orders {
            background-color: rgb(37, 1, 134);

        }
    }
}